.header_main{

    padding: 15px;
    text-align: center;
}

.centerh1{
  text-align: center;
}

.ref{
    margin-top: 165px;
}

.navdiv a{
    color: white;
    text-decoration: none;
}

.opaque{
    background-color:rgba(0, 0, 0, 0.571);
    color: white;
    height: 100%;
}

.icons{
    margin-top: 35px;
}

.header_head{
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: darkslategray;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}
header{    
    height:90vh;
    background-image: url(230104173032-02-chess-stock.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
}

nav span{
    width: 40%;
}
.navdiv{
    margin-right: 65px;
    display: flex;
    justify-content: space-between;
    width: 40%;

}

.about{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 15px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    background-color:white;
}

.aboutme{
    margin-top: 35px;
}

.leftabout{
    background-color: lightgray;
    padding: 50px 50px 100px 0px;
    width: 40%;
}

.rightabout{
    background: linear-gradient(to bottom left, #fff 0%, #fff 50%, lightgray 50%, lightgray 100%);;
    width: 50%;
    
}

.profile{
    border-radius: 5px;
    height: 600px;
    animation-duration: 1s;
    animation-name:slide-in;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 100px;
}

.cont{
    margin-top: 35px;
    margin-left: auto;
    margin-right: 55px;
    position: relative;
    width: 550px;

}

.boxshadow{
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 35px;
    height: 600px;
    width: 422px;
    background-color: red;
    animation-duration: 1s;
    animation-name: slide-in-botright;

    z-index: 10;
}

@keyframes slide-in-botright{
    from{
        translate: -150vh -150vw;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
      }
}

@keyframes slide-in{
    from{
        translate: 150vw 150vh;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
      }
}

.statusbars{
    display: flex;
    flex-direction: column;
}

.statusbars div{
    color: white;
    margin-top: 5px;
    display: flex;
    width: 80%;
    border: solid black 1px;
    border-radius: 5px;
}

.activity1{
    background-color: black;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 15%;
    box-shadow: black 7px 0px 0px 0px;
    z-index: 3;
}

.activity2{
    background-color: black;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 35%;
}

.activity3{
    background-color: black;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
}

.percentage1{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    color: black;
    padding: 5px;
    width: 85%;
    height: 100%;
    background-color: white;
}

.percentage2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    color: black;
    padding: 5px;
    width: 65%;
    height: 100%;
    background-color: white;
}

.percentage3{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    color: black;
    width: 10%;
    height: 100%;
    background-color: white;
    padding: 5px;
}

.wrap{
    display: flex;
    justify-content: center;

}

.services{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 45px;
    margin: 50px 50px 50px 50px;
    width: auto;
}

.services div{
    
    background-color: lightgray;
    padding: 25px 25px 25px 25px;
    box-shadow: -10px 10px rgb(0, 229, 255) ;
  
}

.text{
    background-color: rgb(233, 233, 233);
    height: 260px;
    width: 260px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}


.service1{
    grid-column: 1;
    grid-row: 1;
}
.service2{
    grid-column: 2;
    grid-row: 1;
}
.service3{
    grid-column: 3;
    grid-row: 1;
}
.service4{
    grid-column: 1;
    grid-row: 2;
}
.service5{
    grid-column: 2;
    grid-row: 2;
}
.service6{
    grid-column: 3;
    grid-row: 2;
}

.workimg{
    width: 250px;
    height: 250px;
}


.contact{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: 50px 0px 50px 0px;
    flex-wrap: wrap;
}

.leftcontact{
    padding-right: 50px;

    padding: 35px;
}



.form{
    box-shadow: 0px 0px 7px 0px inset black;
    padding: 30px;
    gap: 20px;
    background-color: rgb(233, 233, 233);
}

.block{
    
    background-color: lightgray;
    padding: 30px;
    width: 70%;
    max-width: 800px;
}

.names{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

fieldset{
    border: none;
}

form section{
    box-shadow: 0px 0px 7px 0px black;
    align-content: center;
    background-color: lightgray;
    height: 100px;
    padding: 0px 15px 0px 15px;
    margin: 20px 0px 20px 0px;
}

.contactinfo{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 150px;
}

legend{
    padding: 0px;
    margin: 0px;
}

.input {
    width: 100%;
    height: 30px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 35px;
    margin-top: 35px;

}

.preferences{
    height: 150px;
}

.button{
    box-shadow: 0px 0px 3px 0px black;
    width: 200px;
    height: 35px;
    font-size: medium;
    border: solid black 1px;
}
.footer{
    padding: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgb(59,59,59);
}
